@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
.navbar {
  display: flex;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.navbar-title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #ffffff;
}

.navbar-logo {
  width: 31px;
  height: 26px;
  margin-left: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.navbar-right {
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 37px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;

  color: #ffffff;
}
